.footer__copyright {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 658px) {
    .footer__copyright {
        font-size: 14px;
    }
}